@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

.logo h1{
    float: left;
    font-size: 1.5em;
    height: 50px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

#navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 0.9em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    font-family: 'Poppins', sans-serif;

}

#navbar li a:hover {
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

#navbar li a:before,
#navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
}

#navbar li a:before {
    left: 0;
    transition: 0.5s;
}


#navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.table-header {
    font-size: 1.3em;
    float: left;
    margin-bottom: 20px;
}

.content table {
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3em;
    border-collapse: collapse;
    overflow: hidden;
    cursor: context-menu;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;
    font-size: 0.9em;

}

.content table tr td {
    border-top: 0.5px solid rgb(145, 143, 143);
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f5f5dc;
    padding-left: 10px;
    padding-right: 10px;
}

.content table tr td a i {
    padding: 5px;
}

.content table tr td a:visited,
.content table tr td a:active,
.content table tr td a:link {
    color: #000;
    text-decoration: none;
}

.content table tr td a:hover{
    color: crimson;
}

option{
    background-color:#dcdcf5;
    color: 	#000;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

select{
    background-color: #dcdcf5;
    border: none;
    margin-right: 10px;
    margin:5px;
    font-family: 'Poppins', sans-serif;
    
}

.form-btn{
    padding: 4px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.container-2{
    background-color: #f5f5dc;
    padding: 24px;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    border-collapse: collapse;
    overflow: hidden;
    cursor: context-menu;
    margin-top: 100px;
    margin-bottom: 30px;
    width: 70%;
    text-align: left;
    font-size: 0.9em;
}

.container-2 h1{
    font-size: 22px;
    font-weight: 400;
}

.container-2 input {
    display: block;
    width: 60%;
    padding: 7px 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.container-2 label {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.container-2 .btn {
    float: right;
    margin-top: 40px;
    margin-left: 20px;
    width: 20%;
}

.container-2 .btn:hover {
    background-color: 	#dcdcf5;
}