@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: linear-gradient(-40deg, #feac5e, #c779d0, #4BC0C8);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
    height: 80vh;
    width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container-1{
    background-color: #f8f9fa;
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    width: 30%;
    margin: 30px auto 50px auto; 
}

.container-1 h1{
    font-family: 'Poppins' , sans-serif;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}

.container-1 .label{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.container-1 input{
    display: block;
    width: 100%;
    padding: 7px 2px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}